.news-feed-section{
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
.news-feed-folder{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}
.news-folder{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 60%;
}
.pinned-feed{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	width: max-content;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 35%;
}
.pinned-feed-header{
	font-size: 2em;
	color: #fff;
	background-color: #222;
	font-weight: 600;
	display: flex;
	gap: 10px;
}

.pinned-feed-header path{
	fill: ivory;
}
.feed-element{
	border: 2px solid green;
}
.feed-element-header{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: gray;
}
.feed-content-wrapper{
	display: flex;
	flex-direction: row;
	border: 2px solid red;
}
.feed-content{
	display: flex;
	flex-direction: column;
}
.feed-content .club-name{
	font-size: 2em;
}
.pinned-feed .feed-description{
	padding: 1em;
	border: 2px solid blue;
	font-size: 0.9em;
}
.feed-description .read-more{
	margin:   0.5em 0 ;
	width: fit-content;
	border: 1px solid;
	align-items: center;
	font-size: 1em;
}
.news-title{
	font-size: 3em;
	font-family:'Courier New', Courier, monospace;
}


/* @media (max-width: 1260px) and (min-width: 450px) {


	
	.news-feed-folder{
		display: flex;
		flex-direction: row-reverse;
	}
	.news-feed-section{
		display: flex;
		flex-direction: row-reverse;
	}
} */