.news-feed-section{
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}
.news-feed-folder{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}
.news-folder{
flex-grow: 0.8;
}
.archieve{
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-self: center;
	flex-wrap: wrap;
}
.archieve .block{
	width: 12em;
	height: 12em;
	text-align: center;
	font-style: italic;
	font-weight: 700;
	background-color: #222;
	color: #fff;

}
.block .card-info{
	position: relative;
	top: 50%;
	margin: auto;
	text-align: justify;
	text-align: justify;
	width: min-content;
	font-size: 1.5em;
}

.news-title{
	font-size: 3em;
	font-family:'Courier New', Courier, monospace;
}


@media (max-width: 1260px) and (min-width: 450px) {


	.archieve{
		/* display: flex; */
		flex-direction: row;
		margin-top: 2em;
	
	}
	.news-feed-folder{
		display: flex;
		flex-direction: row-reverse;
	}
	.news-feed-section{
		display: flex;
		flex-direction: row-reverse;
	}
}