 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.home{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2em;
	scroll-behavior: smooth;
}
.home-content{
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 0.9em;
	font-weight: 400;
}

.link-to-club{
	font-size: 2.3rem;
	display: inline;
	color: #222;
	font-style:initial;
	font-weight: 500;
}
.site-description{
	width: 90%;
	font-size: 2.3em;
	text-align: justify;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	font-family: 'Lato', sans-serif;
	gap: 0.5em;
	font-family: 'Lato', sans-serif;
}
.explore{
	float: right;
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-size: 3em;
	font-weight:200;
	color: #6e6e6e;
	font-weight: 600;
	align-self: flex-end;
	border-bottom: 1px solid gray;
}


.club-tagline{
	all: revert;
	text-align: justify;
	width: fit-content;
	font-size: 0.7em;
	line-height: 0.8;
	font-style:normal;
}

.greeting-text{
	all: revert;
	margin-bottom: 0.5em;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #6e6e6e;
	border-right: .1em solid rgb(128, 128, 128);
	width: fit-content;
  font-size: 2.5em;
  white-space: nowrap;
  overflow: hidden;
	animation: blink .5s step-end infinite alternate;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.club-wrapper{
	all: revert;
	display: flex;
	align-self: center;
	align-self: flex-end;
	gap: 0.5rem;
	flex-wrap: wrap;
	padding-bottom: 5px;
	border-bottom: 0.3px solid;
	color: #27363b;
	width: fit-content;
}

.white-space{
	align-self: flex-end;
	vertical-align: bottom;
	width: 0;
}
.club-wrapper path{
	vertical-align: bottom;
	fill: #6e6e6e;

}

.home-footer{
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
	margin-bottom: 10px;
}
.home-footer a{
	font-size: 1.2em;
	color: #222;
	font-weight: 600;
}
.home-footer svg{
	transform: scale(0.7);
}
.home-footer path{
	fill: #ef4626;
}