.about-us{
	display: flex;
	flex-direction: column;
}
.about-us-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 3em;
}

.faq{
	width: 30em;
}
.faq .faq-question{
	font-size: 2em;
	display: flex;
}

.subscribe-label{
	font-size: 2em;
	width: fit-content;
}
.subscribe{
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.email-form{
	display: flex;
	flex-direction: row;
	width: min-content;
	gap: 1em;
	flex-wrap: wrap;
}

input{
	font-size: 1.5rem;
	border: none ;
	padding-bottom: 3px;
	border-bottom: 1px solid red;
	outline: none;
	font-style: italic;
}
.submit svg{
	transform: rotate(-90deg);
}
.submit{
	width: min-content;
	height: min-content;
}
.the-team{
	display: flex;
	justify-content: center;
}
.creator-info .name{
	font-size: 1.5em;
	font-weight: 700;
	
}

.creator-info .branch{
	font-size: 1em;
	font-weight: 400;
	opacity: 0.7;
}
.socials{
	font-weight: 600;
	display: flex;
}