.about-us{
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	justify-content: space-evenly;
	gap: 7em;
}
.about-us-content{
	display: flex;
	justify-content: space-between;
	align-items: center;

	flex-wrap: wrap;
	gap: 3em;
}

.faq{
	margin-top: 1em;
	max-width: 30em;
}
.faq-title{
	font-size: 3em;
	font-family: 'Courier New', Courier, monospace;
}
.faq-question:nth-child(even){
	
	background-color: #222;
	color: #fff;
}
.faq .faq-question{
	font-size: 2em;
	display: flex;
	align-items: center;
	padding: 10px 25px;
	justify-content: space-between;
	align-items: center;
}

.faq .faq-answer{
	font-size: 1.3em;
	padding: 0.5em 0.5em;
}
.faq-question .know-more{
	align-self: flex-end;
}

.get-connected-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	height: max-content;
	justify-content: space-between;
	align-self: flex-start;
	gap: 5em;
}
.connection-title-wrapper{
	align-self: flex-end;
}
.subscribe{
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1em;
}
.subscribe-label{
	font-size: 2em;
}
.email-form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	gap: 1em;
}

input{
	font-size: 1.5rem;
	border: none ;
	padding-bottom: 3px;
	border-bottom: 1px solid #222;
	outline: none;
	font-style: italic;
	background: none;
}
.submit{
	width: min-content;
	height: min-content;
	padding: 10px 25px;
	font-size: 1.5em;
	font-weight: 500;
	background-color: #222;
	color: #fff;
	align-self:baseline;
}
.the-team{
	display: flex;
	justify-content: center;
	align-self: center;
	flex-wrap: wrap;
	gap: 1em;
}
.creator-info .name{
	font-size: 2.5em;
	font-weight: 700;
	
}

.creator-info .branch{
	font-size: 1em;
	font-weight: 400;
	opacity: 0.7;
}
.socials{
	font-weight: 600;
	display: flex;
	align-items: flex-end;
}



@media (max-width: 1216px)  {


	.faq{
		margin-top: 1em;
		max-width: 100%;
	}
	.about-us-content{
		display: grid;
		grid-template-rows: 1fr 1fr;
		margin: 0 auto;
	}

}
@media (max-width: 550px)  {


	.email-form{
		flex-wrap: wrap;
	}
}