
.feed-box-wrapper{
	display: flex;
	flex-direction: column;
	max-width: 50em;
	align-self: flex-end;
	overflow-y: scroll;
	overflow-x:hidden;
	height: 70vh;
	scroll-behavior: smooth;
}
.feed-box-wrapper::-webkit-scrollbar{
	display: none;
}

.feed-box{
 padding: 0 2em;
 border: 0.5px solid gray;
 border-radius: 5px;
}
.club-update{
	padding: 5px;
	font-size: 2rem;
	font-weight: 600;
}
.feed-box .club-name{
	font-size: 1.1em;
}
.feed-box .feed-not-visible{
	border-top: 1px solid ;
	font-size: 1.3em;
	padding: 1rem;
}
.feed-box .read-more{
	font-size: 0.7em;
}
.heading-wrapper{
	display: flex;
	flex-direction: column;
}
.feed-box .club-title{
	font-size: 1em;
	font-weight: 300;
}
.feed-visible{
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	width: 100%;
}
.feed-options{
	display: flex;
	align-items: center;
	gap: 2em;
}
.feed-options svg{
	transform: scale(1.3);
}

.collapse-button{
	transform: rotate(180deg);
}