
.club-content{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}
.club-page-navigation{
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
	width: 80%;
	margin: 2em 0;
	padding-bottom: 7px;
	
	gap: 3em;
	border-bottom: 1px solid;
}
.club-page-navigation .nav{
	display: flex;
	justify-content: space-between;

}
.club-page-navigation .socials{
	width: 10em;
	align-self: flex-end;
	
	justify-self: center;
}
.club-page-navigation .items{
	font-size: 0.9em;
	width: 20em;
	
	
}
li{
	list-style-type: none; 
}
.club-info{
	width: 80%;
	align-self: flex-end;
}


/* staffs */
.staffs{
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.staff-folder{
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	width: 100%;
}
.staff-photos{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1em;
}

.staff-folder .labels{
	width: min-content;
	font-size: 1.5em;
	font-weight: 600;
	opacity: 0.7;
}
.pfp{
	max-width: 20em;
	min-width: 15em;
	max-height: 20em;
	min-height: 15em;
	border: 2px solid red;
}


/* about */
.about{
	font-size: 1.3em;
}


/* event */
.event-folder{
	display: flex;
	flex-direction: column;
	gap: 3em;
}
.event-date{
	font-weight: 600;
	opacity: 0.7;
	padding-bottom: 3px;
}
.event-info{
	background-color: pink;
	color: blue;
	padding: 1em 2em 1em 1em ;

}
.read-more{
	font-size: 2em;
	display: flex;
	gap: 0.5em;
}
.read-more svg{
	color: #fff;
	rotate: 225deg;
}


@media (max-width: 900px) {
	.club-page-navigation{
		border: none;
		width: 100%;
	}
	.club-page-navigation .items{
		display: flex;
		flex-direction: column;
	}
	.club-page-navigation .items li{
		width: fit-content;
		padding-bottom: 3px;
		padding-top: 3px;
		border-bottom: 1px solid;
	}
	.club-page-navigation .socials{
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: min-content;
		text-align: center;
		gap: 1.3em;
		align-self: flex-end;
	
	}
	.club-info{
		width: 100%;
	}
	

	/* staffs */
	.staff-folder{
		display: flex;
		gap: 1em;
		flex-wrap: wrap;
		width: 100%;
	}

	
}

