*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: auto;
  padding-bottom: 2em;
  color: #27363b;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2em;
  padding:0 10vw ;
}
a{
  text-decoration: none;
}

.link{
  color: #0a7df5;
}